# Local Postgres
# DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/tinylink
# DATABASE_URL_UNPOOLED=postgres://postgres:password@127.0.0.1:5432/tinylink

# Neon Postgres
# DATABASE_URL=postgresql://USER:PASSWORD@EP-POOLER.REGION.aws.neon.tech/DB?sslmode=require
# DATABASE_URL_UNPOOLED=postgresql://USER:PASSWORD@EP.REGION.aws.neon.tech/DB?sslmode=require

DATABASE_URL=
DATABASE_URL_UNPOOLED=
BASE_URL=http://localhost:3000
PORT=3000